@charset "UTF-8";
/* CSS Document */

h1 {
    color: #4F4D71;
    background-color: #B57778;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,102,102,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,102,102,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,102,102,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(130,102,102,1.00) 100%);
    background-position: left 0%;
    text-align: center;
}
body p {
    background-color: #CF4E50;
}
